<div id='msg_deleted' class='panel panel-success message' >
  <div class='panel-heading'>
    <h2 class='panel-title'>Success!</h2>
  </div>
  <div class='panel-body'>
    <p>Message <%= message_name %> was deleted.</p>
  </div>
</div>
<a href='/messages'>Back...</a>
