<%#This file is part of Crier; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (c) 2015 Genome Research Ltd.%>
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= css :application, media: 'screen' %>
    <%= js :application %>
  </head>
  <title>Notifications</title>
<body>
  <div class='container'>
    <h1> What's going on...</h1>
  <%= yield %>
  </div>
</body>
</html>
