<div id='msg_deleted' class='panel panel-<%= status %> message' >
  <div class='panel-heading'>
    <h2 class='panel-title'><%= status.capitalize %>!</h2>
  </div>
  <div class='panel-body'>
    <p><%= message %></p>
  </div>
</div>
<a href='/messages'>Back...</a>
